{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="vh-100 mt-4">
    <div class="container-fluid h-100">
        <div class="row h-100">
        <div class="col me-2 h-100 d-flex flex-column">
            <label for="inputTextField" class="text-secondary fs-5 p-0 mb-3">Input your text here</label>
            <textarea rows="20" class="form-control fw-bold" id="inputTextField"></textarea>
        </div>

        <div class="col h-100 d-flex flex-column">
            <label for="morseTranslationField" class="text-secondary fs-5 p-0 mb-3">Output</label>
            <textarea rows="20" class="form-control  fw-bold" id="morseTranslationField" readonly></textarea>

            <button class="btn btn-outline-success" id="playButton" onclick="playSound()">
                Play Morse Code
            </button>
        </div>
        </div>
    </div>
    </section>

    
<script>
    const inputArea = document.getElementById('inputTextField');

    inputArea.addEventListener('input', function() {
        updateOutputField(inputArea.value);
    })

    async function updateOutputField(text) {
        const outputArea = document.getElementById('morseTranslationField');
        const url = `/text_translate/?text=${encodeURIComponent(text)}`;

        try {
            const response = await fetch(url);
            const data = await response.json();
            outputArea.value = data.encoded_code;
        } catch (error) {
            console.error('Error', error);
        }
    }

    function sleep(milliseconds) {
        return new Promise(resolve => setTimeout(resolve, milliseconds));
    }

    async function playSound() {
        const playButton = document.getElementById('playButton');
        playButton.disabled = true;
        playButton.textContent = 'Currently Playing...';

        const text = document.getElementById('morseTranslationField').value;
        const dit = new Audio("{% static 'audio/dit.wav' %}");
        const dah = new Audio("{% static 'audio/dah.wav' %}");
        
        for (const char of text) {
            if (char === '.') {
                dit.currentTime = 0;
                dit.play();
                await sleep(200);
            } else if (char === '-') {
                dah.currentTime = 0;
                dah.play();
                await sleep(400);
            } else if (char === ' ') {
                await sleep(400);
            } else if (char === '/') {
                await sleep(400);
            }
        }

        playButton.disabled = false;
        playButton.textContent = 'Play Morse Code';

    }

</script>
{% endblock %}